<div class="container">
<h1>Hello Home</h1>    

<% if (current_user) %>
   <%= current_user.email %>
   <% if (current_user.fullname) %>
   <%= current_user.fullname +  "  zzzz   " + request.original_url %>
  
      <% url = request.original_url%>
      <br>
      <%= "url = " + url %>
      <% if url.include? "c9" %>
      <br> <b>C9</b>
      <% else %>
      <br> <b>Heroku</b>
      <%end%>
   <% end %>
<% else %>

<% end %>

<e> <%= origine_lien  %></e>

<div class="row">
   <div class="col-md-8">
      <div class="text-center">
         Résevez des logements uniques !
      </div>
   </div>
</div>

</div>

<div>

   
</div>




