<div class="container">
<h1>Hello Home</h1>    

<% if (current_user) %>
   <%= current_user.email %>
   <% if (current_user.fullname) %>
   <%= current_user.fullname +  "  zzzz   " + request.original_url %>
  
      <% url = request.original_url%>
      <br>
      <%= "url = " + url %>
      <% if url.include? "c9" %>
      <br> <b>C9</b>
      <% else %>
      <br> <b>Heroku</b>
      <%end%>
   <% end %>
<% else %>

<% end %>

<e> <%= origine_lien  %></e>


<p class="font-weight-normal">Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
Aspernatur quaerat hic officia voluptatem ullam eaque earum, adipisci excepturi, autem temporibus soluta placeat. 
Delectus esse adipisci odio quas eveniet, mollitia ipsam.</p>

</div>

<div>

   
</div>




